# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/


# IDE & Code Editor Files
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Ensure GitHub Pages deployment file is ALWAYS tracked
!index.html